<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.sdpsharelook">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_svg_path"
        android:label="@string/appName"
        android:roundIcon="@drawable/ic_svg_path"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sherlook">
        <activity
            android:name=".textDetection.TextDetectionActivity"
            android:exported="false" />
        <activity
            android:name=".storage.DatabaseViewActivity"
            android:exported="false"
            android:label="@string/title_activity_database_view"
            android:theme="@style/Theme.MyBootcamp.NoActionBar" />
        <activity
            android:name=".section.SectionDetail"
            android:exported="false" />
        <activity
            android:name=".section.SectionActivity"
            android:exported="false" />
        <activity
            android:name=".TranslateActivity"
            android:exported="false" />
        <activity
            android:name=".GreetingActivity"
            android:exported="false" />
        <activity
            android:name=".authorization.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".authorization.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".NavigationMenuActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.Sherlook">
        </activity>
        <activity
            android:name=".camera.CameraActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:authorities="camera"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="ocr" />
    </application>
</manifest>